{{#if model.can_vote}}
  {{#if model.postStream.loaded}}
    {{#if model.postStream.firstPostPresent}}
      <div class="voting title-voting">
        {{mount-widget widget="vote-box" args=model
          showLogin=(route-action "showLogin")
        }}
      </div>
    {{/if}}
  {{/if}}
{{/if}}
