.voting-popup-menu {
  position: absolute;
  left: 80px;
  top: 14px;
  z-index: z("header") - 1;
  cursor: initial;
}

.vote-count{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $font-up-2;
  height: 40px;
}
