.voting {
  float: none;
  max-width: none;
  text-align: inherit;
}

.voting-wrapper {
  display: flex;
  align-items: center;
}

.vote-count-wrapper {
  min-width: 70px;
  text-align: center;
}

.vote-button {
  margin-left: 5px;
  margin-top: 0;
}
