{{#if context.topic.can_vote}}
<div class="list-vote-count">
	{{#if context.topic.user_voted }}
		{{#if context.topic.user_super_voted }}
			<i class='fa fa-star'></i>
		{{else}}
			<i class='fa fa-star-o'></i>
		{{/if}}
	{{/if}}
	{{i18n 'feature_voting.vote.multiple'}}: <span class="vote-count">{{context.topic.vote_count}}</span>
</div>
{{/if}}