.title-voting {
  padding-right: 0.75em;
  width: 6em;
  max-width: 10%;
  box-sizing: border-box;
  float: left;
}

.vote-count-wrapper {
  border: 3px solid $primary-low;
}

.voting-wrapper.show-pointer .vote-count-wrapper:not(.no-votes) {
  cursor: pointer;
  &:hover {
    background-color: $primary-low;
  }
}

.vote-count-wrapper {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-voting {
  // matches core title-wrapper padding
  padding-top: 14px;
  position: relative;
}

.vote-button {
  width: 100%;
  margin-top: 0.35em;
}

.vote-options {
  text-align: left;
}

.vote-option {
  cursor: pointer;
  padding: 0.35em;
  &:hover {
    background-color: $primary-low;
  }
}

.vote-option.remove-vote .d-icon {
  margin-right: 0.35em;
  color: $danger;
}

.list-vote-count.voted {
  font-weight: bold;
}

.who-voted.popup-menu {
  a {
    margin: 0.4em 0.25em;
    display: inline-block;
  }
}

.topic-post.voting-post {
  button.like-count,
  button.toggle-like {
    display: none;
  }
}

.voting-popup-menu {
  position: absolute;
  left: 80px;
  // matches core title-wrapper padding
  top: 14px;
  z-index: z("usercard") - 1;
  cursor: initial;
  // voter avatars
  .regular-votes {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

// TEMP: RTL overrides
.title-voting {
  .rtl & {
    float: right;
    padding-right: 0;
    padding-left: 0.75em;
  }
}

.voting-popup-menu {
  .rtl & {
    left: unset;
    right: 80px;
  }
}
