.voting {
  min-width: 70px;
  float: left;
  text-align: center;
  margin-right: 20px;
  max-width: 10%;
}
.vote-count-wrapper {
  border: 3px solid $primary-low;
}
.voting-wrapper.show-pointer .vote-count-wrapper:not(.no-votes) {
  cursor: pointer;
  &:hover {
    background-color: $primary-low;
  }
}
.vote-count {
  font-weight: bold;
}
.title-voting {
  padding-top: 14px;
  position: relative;
}
.vote-button {
  width: 100%;
  margin-top: 5px;
}
.vote-options {
  text-align: left;
}
.vote-option {
  cursor: pointer;
  padding: 5px;
  &:hover {
    background-color: $primary-low;
  }
}
.vote-option.remove-vote:before {
  content: $fa-var-close;
  font-family: FontAwesome;
  margin-right: 6px;
  color: $danger;
}
.vote-option-description {
  font-size: $font-down-1;
  margin-left: 18px;
}
.list-vote-count.voted {
  font-weight: bold;
}
.who-voted.popup-menu {
  a {
    margin: 0.4em 0.25em 0.4em 0;
    display: inline-block;
  }
}
.upgrade-vote {
  text-align: center;
}
.upgrade-vote .vote-option-description {
  margin-left: 0;
}
.upgrade-answer {
  text-decoration: underline;
  font-weight: bold;
  i {
    margin: 0px 5px 0px 0px;
  }
}
.topic-post.voting-post {
  button.like-count,
  button.toggle-like {
    display: none;
  }
}
.voting-popup-menu {
  position: absolute;
  left: 80px;
  top: 14px;
  z-index: z("header") - 1;
  cursor: initial;
}
