.voting{
    min-width: 70px;
    float: left;
    text-align: center;
    margin: 0px 20px 0px 0px;
    max-width: 10%;
}
.vote-count-wrapper, .header-voting .voting-wrapper{
    border: 3px solid #e9e9e9;
}
.voting-wrapper.show-pointer .vote-count-wrapper{
    cursor:pointer;
}
.voting-wrapper.show-pointer .vote-count-wrapper:hover{
    background-color:#e9e9e9;
}
.vote-count-wrapper.no-votes:hover {
    background-color: initial !important;
    cursor: initial;
}
.vote-count{
	height:40px;
	line-height:40px;
	font-weight: bold;
  font-size: 18px;
}
.header-voting{
	margin: 0px 20px 0px 5px;
}
.title-voting{
	padding-top:14px;
    position: relative;
}
.vote-button{
	background-color: #e9e9e9;
	display: block;
    margin-top: 5px;
    padding: 2px 0px;
    color: #222222 !important;
    cursor: pointer;
}
.vote-button.nonvote {
    color: #ffffff !important;
    background-color: $tertiary;
}
.vote-options{
    text-align: left;
}
.vote-option{
    cursor:pointer;
    padding: 5px;
}
.vote-option:hover{
    background-color: #e9e9e9;
}
.vote-option.remove-vote:before{
    content: $fa-var-close;
    font-family: FontAwesome;
    margin-right: 6px;
    margin-left: 1px;
    color: $danger;
}
.vote-option-description{
    font-size: 0.8em;
    margin-left: 18px;
}

.list-vote-count {
  .fa {
    margin-left: 3px;
    color: #999;
  }
}

.user-voted-topics{
    height: 34px;
    line-height: 34px;
    a {
        padding: 8px 13px;
        color: #7a7a7a;
        font-size: 1.143em;
        line-height: 20px;
        cursor: pointer;
    }
}
.who-voted.popup-menu {
    h3 {
        display: none;
    }
    ul{
        margin: 0px;
    }
    a {
        margin: 0.25em 0.25em 0.25em 0;
        display: inline-block;
    }
}
.voting-popup-menu{
    position: absolute !important;
    left: 80px !important;
    top: 14px !important;
    z-index: 990;
    cursor: initial;
}
.who-voted .trigger-user-card img {
    margin: 2px 0px;
}
.upgrade-vote{
    text-align: center;
}
.upgrade-vote .vote-option-description{
    margin-left: 0px;
}
.upgrade-answer{
    text-decoration: underline;
    font-weight: bold;
}
.upgrade-answer i{
    margin: 0px 5px 0px 0px;
}
