.voting{
    min-width: 70px;
    float: left;
    text-align: center;
    margin: 0px 20px 0px 0px;
    max-width: 10%;
}
.voting-wrapper{
    border: 3px solid #e9e9e9;
}
.vote-count{
	height:20px;
	line-height:20px;
	font-weight: bold;
}
.vote-label{
	height:20px;
	line-height:20px;
}
.header-voting{
	margin: 0px 20px 0px 5px;
}
.title-voting{
	padding-top:14px;
}
.vote-button{
	background-color: $tertiary;
	display: block;
    margin-top: 5px;
    padding: 2px 0px;
    color: #ffffff !important;
}
.vote-button.unvote {
    color: #222222 !important;
    background-color: #e9e9e9;
}
.list-vote-count{
	font-size: 0.75em;
}