{{#if showExtraInfo}}
	{{#if topic.can_vote}}
	<div class="voting header-voting">
		<div class="voting-wrapper">
			<div class="vote-count">{{topic.vote_count}}</div>
			<div class="vote-label">
				{{#if topic.single_vote}}
					{{i18n 'feature_voting.vote.one'}}
				{{else}}
					{{i18n 'feature_voting.vote.multiple'}}
				{{/if}}
			</div>
		</div>
	</div>
	{{/if}}
{{/if}}