{{#if this.model.can_vote}}
  {{#if this.model.postStream.loaded}}
    {{#if this.model.postStream.firstPostPresent}}
      <div class="voting title-voting">
        {{! template-lint-disable no-capital-arguments }}
        <MountWidget
          @widget="vote-box"
          @args={{this.model}}
          @showLogin={{route-action "showLogin"}}
        />
      </div>
    {{/if}}
  {{/if}}
{{/if}}